html,
body,
header,
footer,
main,
nav,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: inter-regular;
    src: url(../font/Inter-Regular.ttf);
}

@font-face {
    font-family: creatodisplay-medium;
    src: url(../font/CreatoDisplay-Medium.otf);
}

h1, h2, h3, h4 {
    font-family: var(--headline-font);
}

h1 {
    background-image: var(--gradient-linear);
    color: transparent;
    background-clip: text;
    font-size: var(--headline-fontsize);
}

h2 {
    font-size: var(--headline2-fontsize);
}

h3 {
    font-size: var(--headline3-fontsize);
}

p, a {
    font-family: var(--body-font);
    font-size: var(--bodytext-fontsize);
}

/* Fontsizes desktop */
@media screen and (min-width: 601px) {
    h1 {
        font-size: var(--headline-fontsize-desktop);
    }
    h2 {
    font-size: var(--headline2-fontsize-desktop);
    }

    h3 {
        font-size: var(--headline3-fontsize-desktop);
    }

    p, a {
        font-size: var(--bodytext-fontsize-desktop);
    }

}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh;
    height: 5vh;
}

.logo {
    width: 50%;
    height: auto;
}

.burgermenu {
    cursor: pointer;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow: hidden;
  transition: 0.5s;
}

.burger-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: white;
    cursor: pointer;
}

.burger-content a {
    color: white;
    text-decoration: none;
    font-size: 5vh;
}

.burger-portfolio a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vh;
}

.burger-content a:hover {
  transform: scale(1.2);
}

/* CTA */
.white-btn {
    background-color: white;
    color: var(--electric-blue);
}

.white-btn:hover {
    color: var(--dark-blue);
}

/* find ud af hvad der foregår her */
.white-btn, .blue-btn {
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

.blue-btn {
    background-color: var(--dark-blue);
    color: white;
}

.blue-btn:hover {
    background-color: #0013B7;
    transform: scale(1.02);
}
/* CTA - desktop */
@media screen and (min-width: 601px) {
    .white-btn {
        border-radius: 1rem;
        padding: 0.5rem 2rem;
    }
}

/* Gennemgående classes */
.hide {
    display: none;
}

.blue {
    background-color: var(--electric-blue);
}

.medium-blue {
    background-color: #0013B7;
}

.dark-blue {
    background-color: var(--dark-blue);
}

.black {
    background-color: black;
}